*{
  box-sizing: border-box;


}

.button{
  color:white;
  background-color: red;
  padding:20px
}
.ui-widget-header {
  background: lightgreen;
  color: blue;
  font-size: 20px;
}

#dialog {
  text-align: center;
}